body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    padding-bottom: 15px;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
                    
}

.profile-section {
    text-align: center;
    padding: 20px;
    color: white;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    
}

.links-section {
    display: flex;
    flex-direction: column;


.link {
    background-color: #ffffff;
    color: black;
    padding: 15px 20px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    border-radius: 25px;
    transition: background-color 0.3s;
}
}

.link:hover {
    background-color: #eeeeee;
}

.link:last-child {
    border-bottom: none;
}

